{% extends "base.twig" %}

{% block content %}
  <main>
    <div class="title">NUCSSA旗下社团</div>
    <div class="container">
      {# Posts #}
      {% for post in posts %}
        <article class="post-type-{{ post.post_type }}">
          <div class="club-info">
            <div class="content">
              {# thumbnail #}
              <div class="thumbnail" style="background-image: url('{{ post.thumbnail.src("medium_large") }}')"></div>
              <div class="detail">
                {# workshop schedule #}
                {% set workshop = function('json_decode', post.meta('_workshop_schedule')) %}
                {% if workshop and (workshop.location or workshop.days or workshop.time) %}
                  <div class="workshop-schedule">{{ workshop.location }} | {{ workshop.days|join(', ') }} | {{ workshop.time }}</div>
                {% endif %}
                {# club name #}
                <div class="club-name"><a href="{{ post.link }}">{{ post.title|striptags|raw }}</a></div>
                {# excerpt #}
                <div class="excerpt">{{ post.preview.chars(150).read_more(null)|raw }}</div>
                {# READ MORE button #}
                <a href="{{ post.link }}" class="read-more">read more</a>
              </div>
            </div>
          </div>

        </article>

      {% endfor %}

    </div>

  </main>

{% endblock %}