<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="pingback" href="{{ site.pingback_url }}" />
	<link rel="profile" href="https://gmpg.org/xfn/11" />
  {{ function('wp_head') }}
</head>
<body class="{{body_class}}">

  <div class="off-canvas position-left" id="off-canvas-nav-panel" data-off-canvas data-content-scroll="false">
    {% include 'parts/nav-panel.twig' %}
  </div>

  <div class="off-canvas-content canvas" data-off-canvas-content>
    <header>
      {% include "parts/navbar.twig" %}
    </header>

    {# main OR main + aside #}
    {% block content %}
      <main></main>
    {% endblock %}

    {% include 'parts/footer.twig' %}

    {# <footer> #}
    {{ function('wp_footer') }}
  </div>

</body>
</html>