<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="pingback" href="{{ site.pingback_url }}" />
	<link rel="profile" href="https://gmpg.org/xfn/11" />
  {{ function('wp_head') }}
</head>
<body class="{{body_class}}">
  <header>
    {% include "parts/navbar.html.twig" %}
  </header>

  {% block content %}
  {% endblock %}

  <footer id="footer">
    {% include 'parts/footer.html.twig' %}
  </footer>
  {{ function('wp_footer') }}
</body>
</html>