{% extends "base.twig" %}

{% block content %}
{# FEATURED POSTS CAROUSEL #}
<div class="featured-posts">
  {% if featured_posts is not empty %}
    <div class="carousel js-flickity" data-flickity-options='{"cellAlign": "center", "contain": true, "wrapAround": true}'>
      {% for post in featured_posts %}
        <a class="carousel-card {{ post.video ? 'has-video' }}" href="{{ post.link }}">
          {% set banner_image_desktop_src = post.meta('_banner_image_desktop') ? Image(post.meta('_banner_image_desktop')).src('banner_desktop') : (post.thumbnail.src ? post.thumbnail.src('banner_desktop') : placeholder_thumbnail_url) %}
          {% set banner_image_mobile_src = post.meta('_banner_image_mobile') ? Image(post.meta('_banner_image_mobile')).src('banner_mobile') : (post.thumbnail.src ? post.thumbnail.src('banner_mobile') : placeholder_thumbnail_url) %}
          <img class="object-cover object-center w-full"
          src="{{ banner_image_desktop_src }}"
          alt="Banner Image"
          srcset="{{ banner_image_mobile_src }} 640w,
          {{ banner_image_desktop_src }} 1920w"
          />
          <div class="gradient-cover"></div>
          {% if post.video %}
            <i class="icon icon-play"></i>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<main class="pt-5 pb-8">
  <section class="latest-posts p-2">
    <h1 class="section-title">最新动态</h1>
    <div class="post-cards">
      {% for post in latest_posts %}

        {# apply diff card template for diff post categories #}
        {% include ["parts/categories/card-#{post.category.slug}.twig", 'parts/categories/card-standard.twig'] %}

      {% endfor %}
    </div>
    <div class="section-ending-controls">
      <a href="{{ function('get_post_type_archive_link', 'post') }}" class="btn btn-see-all">查看所有更新 <i class="icon icon-arrow-right-thin"></i></a>
    </div>
  </section>


  <section class="most-viewed p-2">
    <h1 class="section-title">人气最高</h1>
    <div class="post-cards">
      {% for post in most_viewed %}

        {# apply diff card template for diff post categories #}
        {% include ["parts/categories/card-#{post.category.slug}.twig", 'parts/categories/card-standard.twig'] %}

      {% endfor %}
    </div>
    <div class="section-ending-controls">
      <a href="{{ function('get_post_type_archive_link', 'post') }}" class="btn btn-see-all">查看所有更新 <i class="icon icon-arrow-right-thin"></i></a>
    </div>
  </section>

</main>
{% endblock %}
