{% extends "base.twig" %}

{% block content %}
	<main class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
      <div class="club-info">
        <div class="content">
          {# thumbnail #}
          <div class="thumbnail" style="background-image: url('{{ post.thumbnail.src("banner_desktop") }}')"></div>
          <div class="detail">
            {% if workshop %}
              <div class="workshop-schedule">{{ workshop.location }} | {{ workshop.days|join(', ') }} | {{ workshop.time }}</div>
            {% endif %}
            <div class="club-name">{{ post.title|striptags|raw }}</div>
            <div class="excerpt">{{ post.preview.chars(150).read_more(null)|raw }}</div>
          </div>
        </div>
      </div>

      {# meta #}
      <div class="post-meta">
        {# edit link #}
        {% if user %}<a href="{{ post.edit_link|raw }}">{{ _e('Edit') }}</a>{% endif %}
      </div>

      {# content #}
      <div class="post-content">
        {{post.content|raw}}
      </div>

      {# tags #}
      <div class="post-tags">
        <ul>
        {% for tag in post.tags %}
          <li><a href="{{ tag.link }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </div>

      {# share buttons #}
      {# TODO #}

    </article>

    {# related articles #}
    {# TODO #}

  </main><!-- /content-wrapper -->
{% endblock %}
