<div id="nav-panel" class="w-full h-full flex flex-col">
  {# section branding #}
  <section class="flex items-center px-4 py-9 bg-red-100 justify-center">
    <img src="{{theme.uri ~ '/dist/images/logo.png'}}" alt="logo" width="65">
    <div class="flex flex-col justify-center px-1 ml-1">
      <div class="title text-2xl font-bold text-nucssa-title leading-none">{{site.title}}</div>
      <p class="subtitle text-sm text-nucssa-subtitle leading-tight">{{site.description}}</p>
    </div>
  </section>

  {# section nav menu #}
  <section class="p-4 flex-grow flex flex-col" style="background-color:#fbe7e5">
    {# search bar #}
    <form class="searchbar flex items-center" method="get" action="{{site.url}}">
      <input class="outline-none rounded-full border-solid border-nucssa-title border pl-8 w-full leading-loose text-sm py-1" type="search" name="s" value="{{ request.get.s }}" placeholder="搜索文章、活动、和商家促销" />
      <i class="icon icon-search absolute text-nucssa-title"></i>
    </form>

    {# nav items #}
    <nav role="navigation" class="flex-grow p-6 mt-2 text-xl">
      <ul>
        {% for item in main_nav.items %}
          <li class="{{ item.classes|join(' ') }}">
            {% if item.link == site.link~'/' %}
              {% set icon = 'icon-home' %}
            {% elseif item.link == column_archive_url %}
              {% set icon = 'icon-columns' %}
            {% else %}
              {% set icon = item.master_object.meta('_page_icon') %}
            {% endif %}

            <a href="{{ item.link }}"><i class="icon {{ icon }}"></i>{{ item.title|striptags }}</a>
            {% if item.children %}
              <ul>
                {% for item in item.children %}
                  <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title|striptags }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    {# social media links #}
    <div class="social-icons flex justify-center text-2xl">
      <a href="{{theme.uri ~ '/dist/images/qr-code.png'}}"><i class="icon icon-wechat hover:text-green-800"></i></a>
      <a href="https://www.weibo.com/neucssa"><i class="icon icon-sina-weibo hover:text-red-600"></i></a>
      <a href="https://www.facebook.com/NEUCSSA"><i class="icon icon-facebook hover:text-blue-700"></i></a>
      <a href="https://www.instagram.com/nucssa/"><i class="icon icon-instagram hover:text-pink-700"></i></a>
    </div>
  </section>
</div>