<nav id="globalnav" class="sticky w-screen z-10">
  {% include 'parts/nav-panel.twig' %}
  <div class="navbar container py-1 flex items-center justify-between">

    {# nav toggle #}
    <button class="nav-group nav-toggle focus:outline-none">
      <span></span>
    </button>

    {# branding logo #}
    <a class="nav-group branding" href="{{site.url}}">
      <img class="logo" src="{{theme.uri ~ '/dist/images/logo.png'}}" alt="NUCSSA Logo" >
      <div class="name">
        <div class="title text-2xl font-bold text-nucssa-title leading-none">{{site.title}}</div>
        <p class="subtitle text-sm text-nucssa-subtitle leading-tight">{{site.description}}</p>
      </div>
    </a>

    <div class="nav-group flex-grow hidden md:flex justify-end mx-8">

      {# menu items #}
      {% include "parts/menu.twig" with {'menu': main_nav.items} %}

      {# Searchbar #}
      <form class="nav-group searchbar" action="{{ site.link }}">
        <div class="form-control">
          <label class="icon icon-search btn nav-link" for="searchbar"></label>
          <input type="text" id="searchbar" name="s" value="{{ request.get.s }}" />
        </div>
      </form>
    </div>

    {# user profile toggle #}
    {% if user %}
      {# <a href="{{ function('get_dashboard_url') }}"
        class="nav-group mr-0 user-profile"
        data-toggle="user-profile-dropdown"
      >
        <img class="rounded-full" src="{{user.avatar({size: 30})}}" alt="current user avatar">
      </a> #}
      <button
        class="nav-group mr-0 user-profile"
        data-toggle="user-profile-dropdown"
      >
        <img class="rounded-full" src="{{user.avatar({size: 30})}}" alt="current user avatar">
      </button>
      <div id="user-profile-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-close-on-click="true">
        <ul>
          <li><a href="{{ function('get_dashboard_url') }}">Dashboard</a></li>
          <li><a href="{{ function('get_edit_profile_url') }}">User Profile</a></li>
          <li><a href="{{ function('wp_logout_url', site.link)|raw }}">Logout</a></li>
        </ul>
      </div>
    {% else %}
      <button class="btn btn-login" data-open="login-modal">Log In</button>
      <div id="login-modal" class="reveal" data-reveal>
        <h3 class="header">Admin Login</h3>
        <p class="text-center text-sm text-gray-600 mt-4 mb-6">
          All members of NUCSSA should be able to login with your NUCSSA account.
          <br />
          If you don't know your username, contact <a href="mailto:'NUCSSA IT Admins'<admins@nucssa.org>" class="text-blue-400">NUCSSA IT</a> to set one up for you.
        </p>
        {% include "parts/login-form.twig" %}
        <p class="text-center text-sm text-gray-500 mt-4">
          Don't remember your password?
          <br />
          Don't worry, <a class="text-blue-400" href="https://wiki.nucssa.org/forgotuserpassword.action">reset it here</a>.
        </p>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

  </div>
</nav>
